# Data types and flow control
### as commonly used in neuroscience
18 June 2021<br>
NRSC 7657<br>
Daniel J Denman and John Thompson<br>
University of Colorado Anschutz<br>
<br>

whether defined in native python (`str`, `int`, ...) or by a package `numpy.int16`,`numpy.ndarray`),
#### many data types are straighforward:

In [2]:
#float: any number with decimals
_float = 16.0
_float2 = 16.2

#int: any number without decimals. 
_int = 16
_float_fancy_saving_characters = 16.

#complex number are also a type but we won't have to use them much if ever in the normal course oof things:
_complex = complex(16,1)

strings are the way to do things with letters

In [14]:
_string = 'letters'

finally, native python ways to group things: lists and dictionaries.

In [10]:
_list = [1,2,3]
_dict = {'key1':1,
         'key2':2.,
         'key3':'three'}

note that strings can be indexed like lists

In [15]:
_string[0]

'l'

another important native type: `bool`:

In [20]:
_bool = True

why did i put underscores? let's use `type()`, the python function for checkingcomparison `==` to see why

In [9]:
type(_float)

float

In [3]:
float == type(_float)

True

### This brings up namespaces - the way that variable names are defined. 
when you define something it lives in a *namespace* and has a *scope*. <br>
the kernel namespace is, in fact, a dictionary in the kernel. this fact that it is a dictinary is itself not important, but that it is a simple mapping is <br>
in the notebook, variables go in the kernal namespace, but they could also be in a function or classes's namespace. we will return to this as we make functions and classes today.

## Everything in python is an object. 
This means that everything (...just about everything) has associated _properties_ and _methods_ <br>
_properties_ are values

_methods_ are code, generally functions

we will come back to this object-associated code, and how it becomes associated with some object, but here are some examples:

In [18]:
_float2.is_integer()

False

In [17]:
_string.startswith('l')

True

In [26]:
_string.startswith?

Docstring:
S.startswith(prefix[, start[, end]]) -> bool

Return True if S starts with the specified prefix, False otherwise.
With optional start, test S beginning at that position.
With optional end, stop comparing S at that position.
prefix can also be a tuple of strings to try.
Type:      builtin_function_or_method

### Functions are ways to repeat code snippets that you have validated, without copying and pasting. 
A function can be thought of as a program that operates on input. Functions can have zero input argumnets, taking there inputs from a dynamic source, but more typically have 1+ input arguments which are passed in `()`. Functions only run when they are called. <br><br>
Let's recreate `startswith()` as our own function. We'll also go through some python flow control as we do. this will include `for`, `if-else`, `pass` and `break`, and `while` statements

In [ ]:
startswith()

** --> we just used `_string.startswith('l')`, why didn't this work? **

first, let's prototype what we want to accomplish in a cell or some cells

In [ ]:
def startswith():
    return

don't forget default arguments

functions can be defined in a notebook, or imported from a .py file or package.

other flow control: `try-except`, `while`
<br>also `switch-case` for MATLAB (and soon python)

## Classes: making your own objects
Classes are a way to make bundles of your own objects, entities with their own properties and methods that you define.

In [ ]:
class

# some commonly encountered data structures

## numpy: ndarray
this is almost so ubiquitous it belongs above, in the basic data types section. the ndarray is the matrix of python, the n-dimensional data structure where most any data are stored and transformed.

In [21]:
import numpy as np

In [22]:
np.array([1,2,3])

array([1, 2, 3])

note that lists can be "ragged" (sometimes also called "jagged"), where as nddarrays (like matrices) are always rectangular

time series are 1D; images are 2D (or potentially 3D if color); movies are 3D (or potentially 4D if color).

## pandas
#### tables for your tabular data needs
if you were going to do that in Excel, you can do it with pandas. probably faster, and then you can do more stuff with the results

In [23]:
import pandas as pd

In [24]:
pd.read_csv('iris.csv')

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

## Neurodata Without Borders
#### a unified format for neuroscience data

## xarray
#### pandas functionality with more dimensions. alternatively, ndarrrays with labels